.title {
  color: #333;
  padding-bottom: 20px;
  text-align: center;
}

.text {
  color: #777;
}

.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  margin-top: 40px;
  background: #d9534f;
  border-radius: 4px;
  color: white;
  text-align: center;
}

.btn:hover{
  background-color: #BF1313;
}

.image {
   margin-top: -60px;
}

.navbar:hover {
    color: #d9534f;
}

.team{
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #eaeaea;
}
